{% extends "base.html" %}

{% block content %}
<div class="container">


<h2>About us</h2>
<p>
    The Liu Lab is located in the Department of Chemistry and Biochemistry, University of California, Los Angeles. We are
    actively developing is the use of AI to automatically analyze electrochemical data such as cyclic voltammograms in the context of fully automated electrochemical research. We believe ML and AI will transform how we conduct research in the field of electrochemistry and nanomaterials, for a myriad of applications in energy, environment, and biology.

</p>

<ul>


</ul>

</div>


{% endblock %}